@charset "UTF-8";
body { font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

h1, h2, h3, h4, h5, h6 { font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 700; }

header.masthead { position: relative; background-color: #343a40; background: url("../img/bg-masthead.jpg") no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; padding-top: 8rem; padding-bottom: 8rem; }
header.masthead .overlay { position: absolute; background-color: #212529; height: 100%; width: 100%; top: 0; left: 0; opacity: 0.3; }
header.masthead h1 { font-size: 2rem; }
@media (min-width: 768px) { header.masthead { padding-top: 12rem; padding-bottom: 12rem; }
  header.masthead h1 { font-size: 3rem; } }

.showcase .showcase-text { padding: 3rem; }
.showcase .showcase-img { min-height: 30rem; background-size: cover; }
@media (min-width: 768px) { .showcase .showcase-text { padding: 7rem; } }

.features-icons { padding-top: 7rem; padding-bottom: 7rem; }
.features-icons .features-icons-item { max-width: 20rem; }
.features-icons .features-icons-item .features-icons-icon { height: 7rem; }
.features-icons .features-icons-item .features-icons-icon i { font-size: 4.5rem; }
.features-icons .features-icons-item:hover .features-icons-icon i { font-size: 5rem; }

.testimonials { padding-top: 7rem; padding-bottom: 7rem; }
.testimonials .testimonial-item { max-width: 18rem; }
.testimonials .testimonial-item img { max-width: 12rem; box-shadow: 0px 5px 5px 0px #adb5bd; }

.call-to-action { position: relative; background-color: #343a40; background: url("../img/bg-masthead.jpg") no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; padding-top: 7rem; padding-bottom: 7rem; }
.call-to-action .overlay { position: absolute; background-color: #212529; height: 100%; width: 100%; top: 0; left: 0; opacity: 0.3; }

footer.footer { padding-top: 4rem; padding-bottom: 4rem; }

header.masthead { background-image: url("/assets/img/homepage/me-office.jpg") !important; background-position: top !important; }
header.masthead .overlay { opacity: 0.5 !important; }

.bg-gradient { padding-top: 7rem; padding-bottom: 7rem; background: linear-gradient(155deg, #D18282 1%, #5877A8 70%); }

.features-icons-item img { height: 7rem; }

#companies { padding-bottom: 6rem; }
#companies #company-list { display: flex; align-items: center; }
#companies #company-list img { width: 100%; max-width: 255px; }

.project-box { background-color: white; border: 1px solid grey; border-radius: 0.5rem; overflow: hidden; }
.project-box .project-image { display: flex; align-items: center; justify-content: center; height: 300px; }
.project-box img { max-width: 100%; max-height: 100%; }
.project-box p { margin-left: 1rem; margin-right: 1rem; }

.testimonial-content { display: flex; align-items: center; font-size: 2rem; font-style: italic; text-align: left; }

#services { font-size: 1.5rem; font-weight: 300; }

/* Header */
.navbar-brand { display: flex; align-items: center; }
.navbar-brand img { display: block; }
.navbar-brand span { display: block; margin-left: 0.5rem; }

/* Homepage */
section { padding: 3.5rem 0; }

#intro { font-size: 1.5rem; padding-top: 3.5rem; padding-bottom: 3.5rem; }
#intro img { display: block; margin-top: 3.5rem; max-width: 100%; }

.avatar { margin-top: -10.5rem; float: right; border-radius: 1rem; margin-bottom: 1rem; margin-left: 1rem; }

@media (max-width: 767.98px) { .avatar { margin-top: 0; float: none; } }
#companies { padding-bottom: 2.5rem; }
#companies img { margin-bottom: 1rem; }

.project-box { margin-bottom: 1rem; }

/* Footer */
#contact a, #contact a:hover { color: white; }

/* Code blocks */
pre code { border: none; display: block; border: 1px solid #d2d2d2; background-color: #f8f8f8; padding: 1rem; font-size: 13px; margin-right: 0; width: auto; border-left: none; border-right: none; }

/* Quotes */
.post blockquote { font-style: italic; padding: 1rem; font-size: 1.25rem; }

/* Article */
article.post time { color: #999; display: block; }

.footnotes { border-top: 1px dotted gray; padding-top: 0.5rem; }

/* Plugin pages */
.plugin-title { margin-top: 0; padding: 20px 0 0 50px; }

ul.resources { margin-left: 45px; margin-bottom: 20px; }
ul.resources li { display: inline; }
ul.resources li + li { margin-left: 20px; }

@media all and (min-width: 631px) { .post .gist { margin-right: 50px; } }
/* Archive page */
#archive li.starred { list-style: none; margin-left: -23px; }
#archive li.starred :before { content: "⭐"; margin-right: 4px; }
